<% layout("layout") -%>
<section ng-app="larsla" ng-controller="ViewArticleController">

    <div ng-show="showEditArticleForm" class="box-80 center editArticleContainer" ng-init="fillEditArticleForm('<%= article._id %>')">
        <div>
            <div class="horizontal-line"></div>
            <h3>Edit article:</h3>
            <form ng-submit="editArticle('<%= article._id %>')"     target="dummyframe">
                <p>Title:</p>
                <input ng-model="title" class="input-title center border-box" type="text" name="title"></input><br>
                <p>Ingress:</p>
                <input ng-model="ingress" class="input-title center border-box" type="text" name="ingress"></input><br>
                <p>Content:</p>
                <textarea ng-model="content" rows=15 class="input-text center border-box" name="content"></textarea><br>
                <input ng-click="toggleEditArticleForm()" type="submit" value="Edit" class="input-btn right pointer">
                <iframe style="display:none" width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
            </form>
            <button ng-click="toggleEditArticleForm()" style="margin-right: 10px" class="input-btn right">Cancel</button>
        </div>
    </div>

    <div class="main-container box-60 center" ng-init="updateArticle('<%= article._id %>')">
        <% if(user) { %>
            <% if(user.isAdmin) { %>
            <button ng-click="removeArticle('<%= article._id %>')" class="input-btn right">Delete</button>
            <button ng-click="toggleEditArticleForm()" style="margin-right: 10px" class="input-btn right">Edit</button>
            <% } %>
        <% } %>

        <p class="date-field">Posted on: <%= article.createdAt.toDateString() %></p>
        <h1>{{article.title}}</h1>
        <p name="article-ingress" class="ingress-text">{{article.ingress}}</p>
        <p name="article-content" ng-bind-html="article.content" ng-init="highLightCode()"></p>

    </div>

    <% if(user) { %>
    <div class="commentContainer">
        <form ng-submit="postComment('<%= article._id %>')">
            <h2 class="centerText">Comment</h2>
            <textarea id="commentField" rows=12 class="commentField border-box center" placeholder="(Comments support Markdown syntax)" name="comment" ng-model="commentText"></textarea>
            <input type="submit" class="input-btn center" value="Post">
        </form>
    </div>
    <% } else { %>
    <div class="horizontal-line box-80 vertical-space-top-huge center"></div>
    <p class="centerText vertical-space-top-huge vertical-space-bottom-huge">You need to be <a href="/login">logged in</a> to leave comments</p>
    <% } %>

    <div class="box-50 center" ng-init="loadComments">
        <div ng-repeat="comment in article.comments | orderBy: '-'">
            <span class="commentInfo">
                Posted by <span class="commentInfoUsername">{{comment.postedBy.username}}</span>
                at <span name="commentTimePosted">{{comment.timePosted | date: 'short'}}</span>
            </span>
            <div class="comment box-shadow center">
                <span class="right"><a href="" ng-click="deleteComment('<%= article._id %>', comment._id)">delete</a></span>
                <p name="comment" ng-bind-html="comment.text"></p>
            </div>
        </div>
    </div>

</section>
