<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css'>

        <link rel="stylesheet" href="/stylesheets/highlightTheme.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
        <script src="/javascripts/marked.js"></script>
    </head>
    <body>
        <% include partials/header %>
        <div id="view-article-container" class="main-container box-60 center">
            <% if(user) { %>
                <% if(user.isAdmin) { %>
                <button onclick="removeArticleFromFull('<%= article._id %>')" class="input-btn right">Delete</button>
                <button style="margin-right: 10px" id="open-edit-article-btn" onclick="toggleEditArticleForm()" class="input-btn right">Edit</button>
                <% } %>
            <% } %>
            <p class="date-field">Posted on: <%= article.createdAt.toDateString() %></p>
            <h1><%= article.title %></h1>
            <p name="article-ingress" class="ingress-text"><%= article.ingress %></p>
            <p name="article-content"><%= article.content %></p>
        </div>
        <div class="box-80 center">
            <div id="edit-article-form">
                <div class="horizontal-line"></div>
                <h3>Edit article:</h3>
                <form action="/api/articles/<%= article._id %>" method="POST" target="dummyframe">
                    <p>Title:</p>
                    <input class="input-title center border-box" value="<%= article.title %>" type="text" name="title"></input><br>
                    <p>Ingress:</p>
                    <input class="input-title center border-box" value="<%= article.ingress %>" type="text" name="ingress"></input><br>
                    <p>Content:</p>
                    <textarea rows=15 class="input-text center border-box" name="content"><%= article.content %></textarea><br>
                    <input onclick="toggleEditArticleForm()" type="submit" value="Post" class="input-btn right pointer">
                    <iframe style="display:none" width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
                </form>
                <button onclick="toggleEditArticleForm()" style="margin-right: 10px" class="input-btn right">Cancel</button>
            </div>
        </div>
        </div>

        <div class="commentContainer">
                <form action="/api/articles/<%= article._id %>/comments" method="POST" target="dummyframe">
                    <h2 class="centerText">Comment:</h2>
                    <textarea rows=12 class="commentField border-box center" name="comment"></textarea>
                    <input type="submit" class="input-btn center" value="Post">
                </form>
        </div>

        <div class="box-50 center">
            <% for (var i = 0; i < article.comments.length; i++) { %>
                <span >
                    Posted by <%= article.comments[i].postedBy.username %>
                    at <%= article.comments[i].timePosted %>
                </span>
                <div class="comment box-shadow center">
                    <a href="" class="right space-left">delete</a>
                    <a href="" class="right">edit</a>
                    <p><%= article.comments[i].text %></p>
                </div>
            <% } %>
        </div>

        <% include partials/footer %>
        <script src="/javascripts/updateMarkdown.js"></script>
        <script src="/javascripts/privateListeners.js"></script>
        <script src="/javascripts/phoneMenu.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
